<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="application/xhtml+xml; charset=utf-8" http-equiv="Content-Type" />
	<title>SD API Login</title>
	<link charset="utf-8" href="/public/css/frontend/style.css" media="screen" rel="stylesheet" type="text/css" />	
</head>
<body>  <div id="wrapper">
	<div id="body-container">
	  <div id="body-header">

	  </div>

	  <div id="main">
	    
    <%= body%>
    
	  </div>	<!-- /main -->
	  <div id="body-footer">

	  <!--
		<a href="#" target="_blank">Customer Support</a>  &middot;  
		<a href="#" target="_blank">About Us</a>  &middot;  
		<a href="#" target="_blank">Privacy &amp; Security</a>
	  -->
	  <%
	    var d = new Date();
	  %>
		<p>&copy;<%= d.getFullYear()%> Software Devs, LLC</p>
	  </div>
	</div>
  </div>
</body>
</html>